/*
Generelle regler for all sider 
*/
html, body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
    max-width: 100%;
}
nav{
    background-color: #3a3a3a;
    padding: 15px;
    position: fixed;
    width: 100%;
}


.nav-text {
    text-decoration: none;
    color: white;
    padding: 15px;
}

.nav-text:hover {
    background-color: white;
    color:#3a3a3a;
}

.nav-text-active {
    background-color: white;
    color:#3a3a3a;
}
.main-text {
    margin-left: 0%;
    margin-right: 0%;
    padding: 2.5%;
    margin-bottom: 0;
    background-color: rgb(186, 255, 158);
}
p, ul, li {
    max-width: 700px;
}
img {}

footer{
    background-color: #3a3a3a;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-top: 2.5%;
    height: 120px;
    padding-left: 2.5%;
}
a:link{
    color: green;
}


/*
Forslag for generelt grid-format for ALLE sidene
Body er 2 X 3 grid


Inni body er:
Header 2x1 (2fr x 2.5em)
div.main-text 2x1(2fr x 1fr)
Footer 2x1 (2fr x 7em)

MERK: Må designe om noen av elementene i hver sone
*/

body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2.5em 1fr 7em;
}


nav{
    grid-column: span 2;
    grid-row: span 1;     
}

footer {
    grid-column: span 2;
    grid-row: span 1;
}

div.main-text {
    /*Fyller 2 x 1 av gridet I BODY.*/
    grid-column: span 2; 
    grid-row: span 1;
    /*2x4 subgrid inni div.main-text*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}   


/*
Generelle regler for all sider slutt
*/




/*
Kode spesifikk til home.html.
*/
div.main-text section.page-banner {
    /*Seksjoner med klassen page-banner fyller 2 x 1 av gridet I div.main-text.*/
    grid-column: span 2;
    grid-row: span 1;
    display: flex;
    background: linear-gradient(#4BA660 55%,#BAFF9E);
    justify-content: center;
    margin-top: -2.5%;
    margin-right: -2.8%;
    margin-left: -2.8%;
    
    margin-bottom: 2em;

    /*
    Fra: https://stackoverflow.com/questions/2717127/how-to-do-gradient-borders-in-css
    */
}

/*
Hver seksjon er 2X2 grid dedikert til home.html
Mål: få hver andre seksjon til å vise omvendt rekkefølge på egne elementer
Antar: KUN 2 elementer i hver seksjon.

ALLE BAKGRUNNSFARGER ER KUN FOR VISUALISERING: FJERN TIL INNLEVERING ELLER OM VI ENDRER DESIGNSTIL
Anbefaler å lese home.html i splittet vindu med main.css.
*/
div.main-text section:not(.page-banner){
    /*ALLE seksjoner som IKKE har klassen page-banner fyller 2 x 1 av gridet i div.main-text.*/
    grid-column: span 2;
    grid-row: span 1;
    /*background-color: aqua; Fjern når ferdig, kun til å visualisere griden*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display:    flex;  /*Flex tillater å endre på under-elementers rekkefølge på en enkel måte*/
    justify-content: center;
}

/*Hvert andre underelement skriver sine underelementer i motsatt rekkefølge.*/
div.main-text section:not(.page-banner):nth-child(even){
    flex-direction: row-reverse;
}

div.main-text section:not(.page-banner) > div{
    grid-column: span 1;
    grid-row: span 2;
}
div.main-text section:not(.page-banner) > *:not(div){
    grid-column: span 1;
    grid-row: span 2; 
    /*background-color: coral;*/
}

div.main-text section:not(.page-banner) > img#brand{
    margin-right: 5px;
    float: right;
    margin-top: 5px;
}
/*Kode dedikert til home.html slutt*/

/*
Color palettes
a: StyleCycle green, grey, white, dark grey/black, text(black/white)

b: Pastel/Bright green, text(black/white), bright grey, 
*/


/*
!!Kode for aboutApp.html!!
*/
div.main-text#aboutApp{
    grid-column: span 2;
    grid-row: span 1;
    background-color: grey;
    display: flex;
}

div.main-text#aboutApp div.about-app-text{
    flex: 1;
}

div.main-text#aboutApp div.about-app-images{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex: 1;
}
div.main-text#aboutApp div.about-app-images img{
    width: 50%;
    height: 80% ;
    padding: 0%;
    margin: 0%;
}
/*
!!Kode for aboutApp.html slutt!!
*/





/*
!!kode spesifikk til aboutUs
*/
div.main-text#aboutUs{
    grid-column: span 2;
    grid-row: span 1;
    background-color: grey;
}

div.main-text#aboutUs > div#aboutUsBanner{
    margin-bottom: 7%;
}

div.main-text#aboutUs > div:not(#aboutUsBanner){
    display: flex;
    justify-content: space-between;     
}

div.main-text#aboutUs > div:not(#aboutUsBanner) > div{
    border-radius: 20px;
    border: red solid 3px;
    margin: 4px;
    padding: 4px;
}
/*
!!Kode spesifikk til aboutUs slutt
*/




/*Kode spesifikk til aboutAI*/
div.aiDemoDiv{
    display: flex;
    background-color: grey;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.aiDemoDiv h1{
    display: inline-block;
}

div.aiDemoDiv img{
    
    
}

div.aiDemoDiv p{
    display: inline-block;
}
/*
!!Kode for aboutAi slutt
*/




/*
!!Kode spesifikk til ContactUs
*/

/*Temporær css for å sentrere bildet som representerer senere design*/
div.main-text#contactUs{
    display: flex;
    justify-content: center;
}

/*
!!Kode spesifikk til ContactUs slutt
*/