html, body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
    max-width: 100%;
}
nav{
    background-color: #3a3a3a;
    padding: 15px;
}


.nav-text {
    text-decoration: none;
    color: white;
    padding: 15px;
}

.nav-text:hover {
    background-color: white;
    color:#3a3a3a;
}

.nav-text-active {
    background-color: white;
    color:#3a3a3a;
}
.main-text {
    margin-left: 5%;
    margin-right: 5%;
    padding: 2.5%;
    background-color: rgb(186, 255, 158);
}
p, ul, li {
    max-width: 700px;
}
img {
margin-right: 5px;
float: right;
margin-top: 5px;
}







/*Temporær, så man kan flytte og style elementet i !!aboutAI.html!!*/
div.aiDemoDiv{
    display: flex;
    background-color: grey;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div.aiDemoDiv h1{
    display: inline-block;
}

div.aiDemoDiv iframe{
    
    width: 600px;
    height: 480px;
    
}

div.aiDemoDiv p{
    display: inline-block;
}

/*
Forslag for generelt grid-format for alle sidene
2 X 3 grid
Header
Main
Footer

MERK: Må designe om noen av elementene i hver sone
*/

body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2.5em 1fr 7em;
}

nav{
    grid-column: span 2;
    grid-row: span 1;
}

div.main-text {
    /*2x5 subgrid*/
    grid-column: span 2;
    grid-row: span 1;
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}   

div.main-text section.page-banner {
    grid-column: span 2;
    grid-row: span 1;
    background-color: red;
}

/*
2X2 grid Dedikert til home.html
Mål: få hver andre seksjon til å vise omvendt rekkefølge på egne elementer
Antar: KUN 2 elementer i hver seksjon.

ALLE BAKGRUNNSFARGER ER KUN FOR VISUALISERING: FJERN TIL INNLEVERING ELLER OM VI ENDRER DESIGNSTIL
Anbefaler å lese home.html i splittet vindu med main.css.
*/
div.main-text section:not(.page-banner){
    grid-column: span 2;
    grid-row: span 1;
    background-color: aqua; /*Fjern når ferdig, kun til å visualisere griden*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display:    inline-flex;  /*Flex tillater å endre på under-elementers rekkefølge på en enkel måte*/
}

/*Hvert andre underelement skriver sine underelementer i motsatt rekkefølge.*/
div.main-text section:not(.page-banner):nth-child(even){
    flex-direction: row-reverse;
}

div.main-text section:not(.page-banner) > div{
    grid-column: span 1;
    grid-row: span 2;
}
div.main-text section:not(.page-banner) > *:not(div){
    grid-column: span 1;
    grid-row: span 2; 
    background-color: coral;  
}


footer {
    grid-column: span 2;
    grid-row: span 1;
}
/*Kode dedikert til home.html slutt*/