body {
    color: aqua;
}

.grid{
    display: grid;
    gap: 20px;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    margin: 0%;
    padding: 0%;
}

.grid-item{
    color: black;
    padding: 10%;
}
.grid-text{
    margin: 10%;
}