html, body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 1rem; /*rem 	Relative to font-size of the root element, muligvis bedre å sette en pikselverdi her av den grunn.*/
    max-width: 100%;
}

nav{
    background-color: #3a3a3a;
    padding: 15px;
    position: fixed;
    width: 100%;
}

h2, h3, h4, h5, h6{
    font-size: 1.4em;
}
.nav-text {
    text-decoration: none;
    color: white;
    padding: 15px;
}

.nav-text:hover {
    background-color: white;
    color:#3a3a3a;
}

.nav-text-active {
    background-color: white;
    color:#3a3a3a;
}

footer{
    background-color: #3a3a3a;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-top: 2.5%;
    height: 80px;
    padding-left: 2.5%;
    padding-bottom: 0.5%;
}

footer h3 {
    font-size: 1em;
}

.grid{
    display: grid;
    gap: 0px;
    grid-template-columns: 50% auto;
    grid-template-rows: auto;
    margin: 0%;
    padding: 0%;
}

.grid-item{
    color: black;
    padding: 10%;

}
.grid-text{
    margin: 10%;
    font-size: 30px;
    line-height: 1.5;
}
.img{
margin: 12%;
height: 60%;
width: 70%;
}
/*
.banner{
    display: inline-flex;
}
*/
.banner > img{
    
}

.banner >  h1{
    text-align: center;
    font-size: 70px;
    padding: 0%;
    padding-top: 5%;
    margin: 0%;
}

#faq div.dropdowns{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#faq div.dropdowns div{
    padding: 0.2em;
    margin: 0.2em;
    background-color: #E8E6E3;
    border-radius: 5px;
}

.faq-dropdown{
    height: 0px;
    overflow: hidden;
}

.drop-toggle:checked ~ p.faq-dropdown {
    height: auto;
    width: fit-content;
    display: block;
    overflow: visible;
    background-color: maroon;
    margin: 0;
    padding: 0;
}


#about-us ~ div p{
    font-size: 30px ;
}

#about-us ~ div h2, h3, h4, h5, h6{
    font-size: 45px;
}


div.grid div {
    background-color: aqua;
}
 
#contactForm > form{padding: 0.2em;}

#contactForm > form {
    background-color: #D8D8D8;
    border-radius: 0.2em;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2, 1fr) 4fr 1fr;   
}




#contactForm > form #fname, #email {
    grid-column: span 1;
    margin: 0.35em;
    
     + #topic{ /*+ for eneste påfølgende boks med gitt id*/
        grid-column: span 2;
        margin: 0.35em;
    }
}

#contactForm > form #message{ /*Fungerer ikke for zoom, ser inn i det.*/
    margin-top: 1em;
    grid-column: span 2;
    grid-row-start: 3;
    grid-row-end: 4;
    resize: vertical;
}

#contactForm > form input[type="submit"]{
    grid-row-start: 4;
    grid-row-end: 5;
    
}

#about-app-text {
    grid-column: span 1;
    margin-top: 2em;
}

@keyframes fadeIn {
    0% {top: 50px;}
    0%, 20% {opacity: 0;}
    100% {opacity: 1; top: 0px;}
}

#about-app-images {
    grid-column: span 1;
    padding-top: 8%;
    block-size: 35%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    top: 0;

    animation: fadeIn 3s;

}

#about-app-images img {
    
}
































































































