html, body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 1rem; /*rem 	Relative to font-size of the root element, muligvis bedre å sette en pikselverdi her av den grunn.*/
    max-width: 100%;
}

nav{
    background-color: #3a3a3a;
    padding: 15px;
    position: fixed;
    width: 100%;
    height: 1rem;
}

h2, h3, h4, h5, h6{
    font-size: 1.4em;
}
.nav-text {
    text-decoration: none;
    color: white;
    padding: 15px;
}

.nav-text:hover {
    background-color: white;
    color:#3a3a3a;
}

.nav-text-active {
    background-color: white;
    color:#3a3a3a;
}

footer{
    background-color: #3a3a3a;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding-left: 10%;
    height: 5rem;
    padding-bottom: 3rem;
    
    font-size: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr,);
    grid-template-rows: 1fr;
}

#footer-contact-us{
    grid-column-start: 1;
    grid-column-end: 2;
}

#footer-newsletter{
    grid-column-start: 2;
    grid-column-end: 4;
}
    
a{
    color: #5AA779;
}
a:hover{
    color: #97a59d;
}

footer h3 {
    font-size: 1em;
}

.grid{
    display: grid;
    gap: 0px;
    grid-template-columns: 50% auto;
    grid-template-rows: 13% 13% 13% 13% 13% 13%;
    margin: 0%;
    padding: 0%;
}

.grid-item{
    color: black;
    margin: 10%;

}
.grid-text{
    margin: 10%;
    font-size: 30px;
    line-height: 1.5;
}
.img{
margin: 10%;
height: 80%;
width: 80%;
}
/*
.banner{
    display: inline-flex;
}
*/
.banner > img{
    
}

.banner >  h1{
    text-align: center;
    font-size: 70px;
    padding: 0%;
    padding-top: 5%;
    margin: 0%;
}

#main-page-b_roll{
    position: static;
    display: block;
    width: 100%;
    background-color: #5AA779;
}

#main-page{
    width: 100%;
}

#main-page div{
    height: min-content;
}

#main-page img {
    height: 25rem;
    width: 25rem;
}

#main-page :last-child {
    margin-bottom: 5rem;
}


#faq{
    height: inherit;
}

#faq div.dropdowns{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
}

#faq div.dropdowns div{
    margin: 0.2em;
    background-color: #E8E6E3;
    border-radius: 5px;
}


.faq-dropdown{
    height: 0px;
    overflow: hidden;
}

.drop-toggle:checked ~ p.faq-dropdown {
    height: auto;
    width: fit-content;
    display: block;
    overflow: visible;
    background-color: darkgray;
    margin: 0;
    padding: 0;
}


#about-us ~ div p{
    font-size: 30px ;
}

#about-us ~ div h2, h3, h4, h5, h6{
    font-size: 45px;
}

 
#contactForm {
    height: 75vh;
}

#contactForm > form{
    padding: 0.2em;
    height: 50rem;
}

#contactForm > form {
    background-color: #D8D8D8;
    border-radius: 0.2em;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2, 1fr) 4fr 1fr;   
}

form > #fname, #email, #topic {
    height: 1rem;
}

#contactForm > form #fname, #email {
    grid-column: span 1;
    margin: 0.35em 0.35em 0.35em 0.35em;
    
     + #topic{ /*+ for eneste påfølgende boks med gitt id*/
        grid-column: span 2;
        margin: 0.35em;
    }
}

#contactForm > form #message{ /*Fungerer ikke for zoom, ser inn i det.*/
    margin-top: 1em;
    grid-column: span 2;
    grid-row-start: 3;
    grid-row-end: 4;
    resize: vertical;
}

#contactForm > form input[type="submit"]{
    grid-row-start: 4;
    grid-row-end: 5;
    
}

#about-app{
    height: fit-content;
    width: 100%;
    background-color: #5AA779;
    padding-bottom: 5rem;

}

#about-app-text {
    grid-column: span 1;
    margin-top: 2rem;
    height: inherit;
}

@keyframes fadeIn {
    0% {top: 50px;}
    0%, 20% {opacity: 0;}
    100% {opacity: 1; top: 0px;}
}

#about-app-images {
    grid-column: span 1;
    padding-top: 10%;
    margin-top: 5%;
    margin-bottom: 10%;
    display: inline-flex;
    flex-direction: row;
    position: sticky;
    justify-content: center;
    top: 0;
    height: 35rem;
    width: 50rem;
    animation: fadeIn 3s;

}

#about-app-images img {
    height: inherit;
    width: inherit;
}


/*Kode for about.ai*/

#ai{
    height: 100vh;
    width: 100vw;
    background-color: red;
}

#about-ai.grid-text{
    margin: 0;
    margin-bottom: 10%;
    height: inherit;
    width: inherit;
    
}

#figma-container{
    padding: 0;
    background-color: black;
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: row;

}

#figma-demo {
    height: 100%;
    width: 100%;
}
































































































